Listed below is the results and responses of test subjects that were directed through the application with the test script:

[Click here to access Test Script](/Test/TestScript.md)


## Test 1:

Test Subject Age:  13

- manipulate the program screen and editing feature windows - Pass
- Apply color filter onto image - Pass
- Change Opacity of image - Pass
- Flip the image - Pass
- Add effect onto image - Pass
- Save the image - Pass

Response: easy for everyday use
Feedback: Suggested a feature to add words to make memes

## Test 2:

Test Subject Age:  25

- manipulate the program screen and editing feature windows - Pass
- Apply color filter onto image - Pass
- Change Opacity of image - Pass
- Flip the image - Pass
- Add effect onto image - Pass
- Save the image - Pass

Response: simple interface
Feedback: suggested adding more editing abilities

## Test 3:

Test Subject Age:  57

- manipulate the program screen and editing feature windows - Pass
- Apply color filter onto image - Pass
- Change Opacity of image - Pass
- Flip the image - Pass
- Add effect onto image - Pass
- Save the image - Pass

Response: easy enough to figure out 
Feedback: suggested adding directions for changing the tabs, said otherwise people may not know about the window manipulation capabilities

## Test 4:

Test Subject Age:  43

- manipulate the program screen and editing feature windows - Pass
- Apply color filter onto image - Pass
- Change Opacity of image - Pass
- Flip the image - Pass
- Add effect onto image - Pass
- Save the image - Pass

Response: nice program
Feedback: N/A







